 .layout
body 
{
	padding: 0px;
	margin: 0px;

}
 .layout
{
	width: 1000px;
	margin:  auto;

}
 .layout
  header
{
	background-size: 100% 100%;
	background-color: #0e91f5;
	height: 60px;
	padding-bottom: 10%;
	font-variant: time new roman;
}

 .layout
 nav
{
	line-height: 30px;	
	background-color: #f26522;
	color: black;
	
	font-variant: time new roman;
}

 .layout
 article
{
	height: auto;
	width: 50%;
	background-color: white;
	float: right;
	font-variant: time new roman;
}  
 .layout
  aside
{
	height: auto;
	width: 50%;
	background-color: white;
	float: left;
	font-variant: time new roman;
} 

 
 .layout
 footer
{
line-height: 45px;
background-color: #f26522;
text-align: center;
clear: both;
border-top: 5px ;
font-variant: time new roman;
}
 .layout
 a
{
	color: black;
	text-decoration: none;
	margin: 0 10px;
}
 

 img{
	padding: 20px 0px 0px 20px;
}
 
.layout
{
	width: 1000px;
	margin: 0 auto;

}


 
.notes{
	text-align: center;
	font-size: 12pt;
	color: black;
}

table{
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;

}
th{
	height: 50px;
	background-color: aqua;
	font-size: large;
}
td{
	height: 40px;
	text-align: center;

}


form{


	
	font-variant: time new roman;
}
 .nhom{
 
 	margin: 10px 0px;
 } 
 .control{
	width: 50%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid gray;
	outline: none;
	
}

 .control{
	width: 50%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid gray;
	outline: none;
	
}
 
 .button{
 float:right;
 margin-right:5px;
	padding: 8px 30px;
	outline: none;
	font-weight: bold;
	background-color: red;
	border: none;
}
.anhgh{
	float: right;
}
.anhgh img{
	margin-top: -60px;
}